body{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.encabezado{
	background: rgba(0, 0, 0, 0.7);
}

.logo img{
	width: 18%;
	margin: 10px 0;
}

.logo2 img{
	width: 12%;
	margin-bottom: 5px;
}

h1{
	color:#fff;
	font-size: 60px;
}
.glyphicon-heart{
	color:#E51A41;
	font-size: 50px;
}

.glyphicon-menu-right{
	font-size: 40px;
	color:#7FB43F;
}

.registro a{
	margin: 15px 15px;
	color: #7FB43F;
}

.registro{
	margin: 20px 0;
}

.modal-content{
	width: 80%;
}

.modal-title{
	color: #ccc;
	position: relative;
	left: 40%;
	right: 40%;

}

.modal-body img{
	margin-bottom: 10px;
}

.formulario{
	background: rgba(255,255,255,0.85);
}

.form{	
	width: 70%;
	padding: 5%;
}

.form input, h3, button{
	margin: 10px 0;
}

.form button{
	width: 100%;
	margin-top: 5px;
}

.buscador ,.usuario{
	margin-top: 4px;
}

.glyphicon-plus , .glyphicon-search , .glyphicon-list{
	font-size: 22px;
}

footer{
	background: rgba(0, 0, 0, 0.75);
	position: absolute; 
	bottom: 0%; 
	width: 100%;
}

p{
	color: #fff;
}
